[user]
	name = Shuto Tanabashi
[core]
	editor = nvim
	quotePath = false
[init]
	defaultBranch = main
[advice]
	addIgnoredFile = false
[pull]
	rebase = false
[diff]
    tool = nvimdiff
[merge]
    tool = nvimdiff3
[include]
	path = .gitconfig_env
