# .gitignore
*

# whitelist
!.gitignore
!README.md
!setup.sh
!setup.ps1
!setup_wsl.sh
!sumatrapdf.sh
!init.lua
!lua
!lua/config
!lua/config/lazy.lua
!lua/plugins
!lua/plugins/*.lua
!lua/lspcfg.lua
!lua/stlcfg.lua
!lua/envcfg.txt
!snippets
!snippets/*.snippets
!spell
!spell/*.add
